@media (max-width: 1400px) {
  :root {
    --title-width: 13em;
  }

	.get-form {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .header__title,
  .be-dealer__title {
    max-width: var(--title-width);
    margin-left: auto;
    margin-right: auto;
    line-height: 1;
  }

  .footer {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

@media (max-width: 1296px) {
  .carousel__item {
    width: 100vw;
  }
}

@media (max-width: 1170px) {
  .get-form__input,
  .get-form__btn {
    display: block;
    margin: 1.6rem auto;
    width: 100%;
  }

  .get-form__form {
    max-width: 17rem;
    margin: 0 auto;
  }

  .get-form__title {
    max-width: 27rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 1;
    margin-bottom: .5em;
  }

  .get-form__action-text {
    margin-bottom: 1.2em;
  }
}