:root {
  --base: #6833ad;
  --orange-light: #f6af47;
  --orange: #f6af47;
  --red: #ae2b55;
  --green: #388fad;
  --width: 54rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  transition: .2s color;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

label,
button {
  cursor: pointer;
}

button {
  border: none;
  background: transparent;
  outline: none;
  font-size: 1rem;
  color: inherit;
  cursor: pointer;
}

html {
  font-size: 24px;
  color: #fff;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--base);
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
}

.header {
  padding-top: 2em;
  padding-bottom: 4em;
  margin: 0 auto;
  max-width: 50em;
}

.header__logo {
  display: inline-block;
  width: 100%;
  margin-bottom: 3em;
}

.header__offer {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1em;
  display: inline-block;
}

.header__title {
  font-weight: 300;
}

.numbers {
  padding-bottom: 4em;
}

.numbers__phone {
  margin: 0 auto;
  display: block;
  margin-bottom: 3em;
}

.numbers__get-btn {
  text-transform: uppercase;
  background: linear-gradient(0deg, #f6af47, #f6af47);
  font-weight: 600;
  border: 2px solid #fff;
  display: inline-block;
  padding: .6em;
  width: 19em;
  border-radius: 2em;
}

.numbers__description {
  font-size: 30px;
  max-width: 20em;
  margin: 3.5rem auto;
  position: relative;
}

.numbers__description::after,
.numbers__description::before {
  content: '';
  display: block;
  margin: 1.2em auto;
  height: 1px;
  width: 7em;
  background-color: #a670cf;
}

.plus {
  padding: 7em 0;
}

.plus__icon {
  display: block;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 6em;
}

.plus__icon_simple {
  background-image: url(../img/icons/plus_1.svg);
}

.plus__icon_russia {
  background-image: url(../img/icons/plus_2.svg);
}

.plus__icon_cool {
  background-image: url(../img/icons/plus_3.svg);
}

.plus__icon_points {
  background-image: url(../img/icons/plus_4.svg);
}

.plus__badge {
  display: inline-block;
  margin: 1em auto;
  background-color: var(--base);
  color: #fff;
  font-size: 1.5rem;
  border-radius: .4em;
  padding: 0 .7em;
}

.plus__badge_red {
  background-color: var(--red);
}

.plus__badge_green {
  background-color: var(--green);
}

.be-dealer {
  background-color: #fff;
  color: var(--base);
}

.be-dealer__title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1em;
}

.region {
  background: url(../img/bg-2.png) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  color: black;
}

.limits {
  background-color: #fff;
  color: var(--base);
}

.search {
  color: black;
  background: url(../img/bg-3.png) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.get-form {
  padding: 6em 0;
  max-width: var(--width);
  margin: 0 auto;
}

.get-form__title {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: .3em;
}

.get-form__action-text {
  font-weight: 300;
  margin-bottom: 2.5em;
  display: inline-block;
}

.get-form__form {
  margin-bottom: 1.2em;
  text-align: left;
}

.get-form__input {
  font-size: 1rem;
  padding: 0.6em 1em;
  width: 17em;
  margin-right: 2em;
  border-radius: 4px;
  border: none;
}

.get-form__input:first-of-type {
  margin-right: 1.5em;
}

.get-form__btn {
  text-transform: uppercase;
  background: linear-gradient(0deg, #844bf6, #dc87f9);
  font-weight: 400;
  display: inline-block;
  padding: .6em;
  width: 15em;
  border-radius: 2em;
}

.get-form__small {
  text-align: left;
  display: block;
  font-weight: 300;
}

.get-form__privacy-link {
  color: inherit;
  opacity: .7;
  text-decoration: underline;
  transition: .3s opacity;
}

.get-form__privacy-link:hover,
.get-form__privacy-link:focus {
  opacity: 1;
}

.about {
  background-color: #e2e2e2;
  color: var(--base);
  padding: 8rem 0;
}

.about__title {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: .3em;
}

.about__title::before {
  content: '';
  display: inline-block;
  width: 52px;
  height: 52px;
  background: url(../img/icons/about.svg) no-repeat center;
  background-size: contain;
  vertical-align: middle;
  margin-right: .5em;
}

.about__link {
  display: inline-block;
  background-color: var(--base);
  color: #fff;
  border-radius: .4em;
  padding: 0 1.5em;
  margin-bottom: .9em;
  text-transform: uppercase;
  border: 2px solid var(--base);
  transition: .3s color, .3s background-color;
}

.about__link:hover,
.about__link:focus {
  color: var(--base);
  background-color: transparent;
}

.about__text {
  margin-bottom: 7em;
}

.carousel {
  max-width: var(--width);
  margin: 0 auto;
  overflow-x: hidden;
}

.carousel__box {
  width: fit-content;
  display: flex;
  transform: translateX(-60.5rem);
}

.carousel__box_animate {
  transition: .5s transform;
}

.carousel__item {
  width: 35rem;
  height: 18.75rem;
  opacity: .5;
  transition: .5s opacity;
}

.carousel__item_animate {
  
}

.carousel__item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.carousel__item_active {
  opacity: 1;
}

.footer {
  background-color: #512685;
  padding-top: 1.5em;
  padding-bottom: 2em;
  text-align: left;
  font-weight: 300;
}

.footer__box {
  display: flex;
  max-width: var(--width);
  margin: 0 auto;
  align-items: flex-end;
  justify-content: space-between;
}

.footer__title {
  font-size: 1rem;
  font-weight: 300;
}

.footer__link {
  color: #fff;
  transition: .3s opacity;
  display: inline-block;
}

.footer__link:hover,
.footer__link:focus {
  opacity: .7;
}

.footer__link_site {
  text-decoration: underline;
  margin-bottom: 2em;
}

.footer__phone {
  font-size: 1.5rem;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 0 .3em;
  margin-top: .3em;
  margin-bottom: .6em;
}

.footer__phone:before {
  content: '';
  display: inline-block;
  width: 27px;
  height: 41px;
  background: url(../img/icons/phone.svg) no-repeat center;
  background-size: contain;
  vertical-align: text-top;
  margin-right: .3rem;
}

.footer__contacts {
  max-width: 30em;
}

.footer__copyrights {
  text-align: right;
  font-size: 18px;
}

.footer__social {
  margin-top: .6em;
}

.footer__social:before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  vertical-align: text-top;
  margin-right: .3em;
}

.footer__social_whatsapp:before {
  background-image: url(../img/icons/whatsapp.svg);
}

.footer__social_vk:before {
  background-image: url(../img/icons/vk.svg);
}