:root {
  --base: #6833ad;
  --orange-light: #f6af47;
  --orange: #f6af47;
  --red: #ae2b55;
  --green: #388fad;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: .2s color;
}

a:active,
a:visited {
  color: inherit;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

label,
button {
  cursor: pointer;
}

button {
  border: none;
  background: transparent;
  outline: none;
  font-size: 1rem;
  color: inherit;
}

html {
  font-size: 24px;
  color: #fff;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--base);
}

.header {
  text-align: center;
  padding-top: 2em;
  margin: 0 auto;
  max-width: 50em;
}

.header__logo {
  display: inline-block;
  width: 100%;
  margin-bottom: 3em;
}

.header__offer {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1em;
  display: inline-block;
}

.header__title {
  font-weight: 300;
}
